.navbar {
    padding: 0;
}

.nav-link:hover,
.navbar-brand:hover {
    text-decoration: none;
    background: #1d2124;
}


.navbar-brand {
    font-size: 1rem;
    margin-right: 0;
}

.navbar-brand, .nav-link{
    padding: 1rem;
}

#icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.fa-inverse:hover {
    color: rgb(218, 218, 218);
}


.progress {
    margin-bottom: 1.5rem;
}