.navbar {
    padding: 0;
}

.nav-link:hover,
.navbar-brand:hover {
    text-decoration: none;
    background: #0068d8;
}


.navbar-brand {
    font-size: 1rem;
    margin-right: 0;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.navbar-brand, .nav-link{
    padding: 1rem;
}

#icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}