.navbar {
    padding: 0;
}

.navbar-brand {
    font-size: 1rem;
    margin-right: 0;
}
.navbar-brand,
.nav-link{
    padding: 1rem;
}

.navbar-brand:hover,
.nav-link:hover
{
    text-decoration: none;
    background: #1d2124;
}



/*@Override: Navbar items text*/
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
#icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transition: transform .2s;
}

#icon:hover {
    transform: scale(1.5);
}


.progress {
    margin-bottom: 1.5rem;
}